@charset "utf-8";



img {
	width: 100vw;
	padding: 0px;
	margin: 0px;
	position: relative;
}

#box {
	position: absolute;
  	top: 50%;
  	left: 70%;
	width: 300px;
	height: 300px;
	z-index: 10;
	display: none;
	background-color: rgba(211,16,20,0.50);
}